Source: ${PACKAGE_NAME}
Section: utils
Priority: optional
Maintainer: Michal Stava <stavamichal@gmail.com>
Standards-Version: 3.9.5

Package: ${PACKAGE_NAME}
Architecture: all
Version: ${VERSION}
Depends: ${DEPENDENCIES}
