Source: perun-propagate
Section: utils
Priority: optional
Maintainer: Pavel Zlamal <zlamal@cesnet.cz>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1

Package: perun-propagate
Section: utils
Priority: optional
Architecture: all
#Maintainer: Pavel Zlamal <zlamal@cesnet.cz>
Depends: bash (>= 2.05a-11), sed (>= 3.02-8), grep (>= 2.4.2-3), coreutils (>= 5.0-5), perl-base (>= 5.10.1-17), remctl-client, heimdal-clients | krb5-user, openssh-server
Conflicts: perun-slave-meta
Description: Perun propagate init.d script.
 Perun propagate init.d script., which is used to force user provisioning and
 service configuration by calling Perun API.
