Source: #PACKAGE#
Section: utils
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#

Package: #PACKAGE#
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
