Source: perun-slave
Section: utils
Priority: optional
Maintainer: Michal Prochazka <michalp@ics.muni.cz>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1

Package: perun-slave
Section: utils
Priority: optional
Architecture: all
Depends: bash (>= 2.05a-11), sed (>= 3.02-8), grep (>= 2.4.2-3), coreutils (>= 5.0-5), perl-base (>= 5.10.1-17)
Description: Perun slave scripts
 Slave scripts for user provisioning and service management which are called
 remotely by Perun.
