Source: generic-package
Section: utils
Priority: optional
Maintainer: Michal Stava <stavamichal@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5

Package: generic-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: other-generic-package
Description: Short description of generic package
 Extended description for generic package.
