Source: perun-slave-metacentrum
Section: utils
Priority: extra
Maintainer: Michal Stava <stavamichal@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5

Package: perun-slave-metacentrum
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
Description: Package with required dependencies for slave scripts in Metacentrum.
 Package containing all dependencies needed for regular 
 work of Perun in the Metacentrum.
